@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased min-h-screen selection:bg-primary/20 selection:text-primary-dark;
    background-image:
      radial-gradient(at 40% 20%, hsla(199, 100%, 74%, 0.15) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 0.15) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(199, 100%, 74%, 0.15) 0px, transparent 50%);
    background-attachment: fixed;
  }
}

/* Custom Scrollbar for Chat */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}